{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <h1>Gesloten</h1>
        <span>Sorry, de Makkerij is alleen geopend voor makkers. Ben je een makker? Log dan in via het formulier in het menu!</span>
    </div>
{% endblock %}