{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            Op {{upcomingBake.bakingDay|date('d-m')}} wordt er gebakken:

            {{ upcomingBake.name }} ({{upcomingBake.quantityLeft}})

            {% if is_granted('ROLE_MAKKER') and not is_granted('ROLE_BAKER') %}
                <a href="{{ path('claim_a_bread', {'id': upcomingBake.id}) }}">Ik wil er wel 1!</a>
            {% endif %}
        </div>
    </div>

{% endblock %}