{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                Op {{upcomingBake.bakingDay|date('d-m')}} wordt er gebakken:

                {{ upcomingBake.name }} ({{upcomingBake.quantityLeft}})
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if is_granted('ROLE_MAKKER') and not is_granted('ROLE_BAKER') %}
                    <a href="{{ path('claim_a_bread', {'id': upcomingBake.id}) }}" class="btn btn-outline-secondary {% if upcomingBake.quantityLeft == 0 %}disabled{% endif %}" style="margin-top: 20px;">Bestel een brood</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}