{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            Op {{upcomingBake.bakingDay|date('d-m')}} wordt er gebakken:

            {{ upcomingBake.name }} ({{upcomingBake.quantity}})
        </div>
    </div>

{% endblock %}